<div class="mat-con">
    <mat-card >

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>City Name</mat-label>
            <input matInput placeholder="Ex. New York" id="cityname">
          </mat-form-field><br>
        
          <button mat-icon-button class="btn-center" color="warn" (click)="search()" aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
    </mat-card>
</div>

<div class="row">
    <div class="col">

    </div>
    <div class=" col mat-co" *ngIf="enableDiv">
        <mat-card class="maty example-card ">
            <mat-card-title> <mat-icon>location_on</mat-icon>{{data.location.name}}</mat-card-title>
            
            <mat-card-content><img mat-card-sm-image src="{{imagesource}}">{{data.current.temperature}}&deg;C
            <br><br>

            <span id="time">{{data.current.weather_descriptions[0]}} <br><hr>last updated : {{data.current.observation_time}}</span>
                
            </mat-card-content>
           
    
        </mat-card>
    
    </div>
    
    <div class=" col mat-co3" *ngIf="enableDiv">
        <mat-card class="card3">
            
            <mat-card-content>
                <span>Information</span><hr>
                <span class="heading">uv index : </span> <span class="value">{{data.current.uv_index}}</span><br>
                <span class="heading">feels like : </span> <span class="value">{{data.current.feelslike}}</span><br>
                <span class="heading">humidity : </span> <span class="value">{{data.current.humidity}}</span><br>
                <span class="heading">visibility : </span> <span class="value">{{data.current.visibility}}</span><br>
                <span class="heading">wind direction : </span> <span class="value">{{data.current.wind_dir}}</span><br>
                

            </mat-card-content>
           
    
        </mat-card>

    </div>
</div>



